html
  head
    title Profiles
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/material-photo-gallery.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .wrapper
        .container
          a(href='/')
            img#logo(src='../images/icons/logo_mobile.png')
          #mySidenav.sidenav
            .sidenav_box
              a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
              a#side_menu_logo(href='/')
                img(src='../images/icons/logo_side_menu.png')
              .side_menu_contents
                ul.side_menu_list.side_gallery
                  li
                    a(href='') GALLERIES
                    .side_menu_inside
                      a(href='/galleries_movements1') Movements I
                      a(href='/galleries_movements2') Movements II
                      a(href='/galleries_profiles') Profiles
                      a(href='/galleries_portraits') Portraits
                ul.side_menu_list
                  li
                    a(href='/#about_page') ABOUT US
                  li
                    a(href='') CLIENTS
                    .side_menu_inside
                      a(href='/#workflow_page') Work Flow
                      a(href='/#making_page') Making
                  li
                    a.list4#side_main(href='/#contact_page') CONTACT
          #main.main_menu_hamberger
            span(onclick='openNav()')
              .ham
              .ham
              .ham
              .ham
              .ham
          .menu_box
            ul.main_menu
              li
                a#menu_company(href='#about_page') ABOUT US
              li
                a#menu_client() CLIENT
              li
                a#menu_gallery() GALLERIES
              li
                a#menu_contact(href='/#contact_page') CONTACT
            ul.sub_menu.client
              li#sub_menu.workflow
                a(href='#workflow_page') Work Flow
              li
                a(href='#making_page') Making
            ul.sub_menu.gallery
              li
                a(href='/galleries_movement') Movement
              li
                a(href='/galleries_portrait') Portrait
              li
                a(href='/galleries_profiles') Profiles
              li
                a(href='/galleries_portraits') Portraits
      .wrapper_gallery
        .contents.gallery
          .title_box
            #title GALLERIES
            #sub_title Profiles
          .m-p-g
            .m-p-g__thumbs(data-google-image-layout='', data-max-height='400')
              img.m-p-g__thumbs-img(src='../images/portraits/090327_1.jpg?image=940', data-full='../images/portraits/090327_1.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/090327_2.jpg?image=940', data-full='../images/portraits/090327_2.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/091122.jpg?image=940', data-full='../images/portraits/091122.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/091228.jpg?image=940', data-full='../images/portraits/091228.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/100123.jpg?image=940', data-full='../images/portraits/100123.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/100418.jpg?image=940', data-full='../images/portraits/100418.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/111129_1.jpg?image=940', data-full='../images/portraits/111129_1.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/111129_2.jpg?image=940', data-full='../images/portraits/111129_2.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/111130.jpg?image=940', data-full='../images/portraits/111130.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/120229_gray.jpg?image=940', data-full='../images/portraits/120229.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/120229_2.jpg?image=940', data-full='../images/portraits/120229_2.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/120813.jpg?image=940', data-full='../images/portraits/120813.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/170514.jpg?image=940', data-full='../images/portraits/170514.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/180324.jpg?image=940', data-full='../images/portraits/180324.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/180412.jpg?image=940', data-full='../images/portraits/180412.jpg?image=940')
              img.m-p-g__thumbs-img(src='../images/portraits/180412_2.jpg?image=940', data-full='../images/portraits/180412_2.jpg?image=940')

            .m-p-g__fullscreen
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/material-photo-gallery.js')
  script.
    var elem = document.querySelector('.m-p-g');
    document.addEventListener('DOMContentLoaded', function() {
    var gallery = new MaterialPhotoGallery(elem);
    });
    $("#menu_company").click(function(){
      $(".sub_menu.company").show();
      $(".sub_menu.client").hide();
      $(".sub_menu.gallery").hide();
    });
    $("#menu_client").click(function(){
      $(".sub_menu.client").show();
      $(".sub_menu.company").hide();
      $(".sub_menu.gallery").hide();
    });
    $("#menu_gallery").click(function(){
      $(".sub_menu.gallery").show();
      $(".sub_menu.company").hide();
      $(".sub_menu.client").hide();
    });
    function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "#050505";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "#050505";
    }
