html
  head
    title Material Photo Gallery
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/material-photo-gallery.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper_gallery
      a(href='/')
        img#logo(src='../images/icons/main_logo.png')
      #mySidenav.sidenav
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        ul
          li
            a.list1#side_main(href='#about_page') ABOUT US
          li
            a.list2#side_main(href='') CLIENTS
            ul.inside_menu#menu1
              li
                a#side_sub(href='#workflow_page') Work Flow
              li
                a#side_sub(href='#making_page') Making
          li
            a.list3#side_main(href='') GALLERIES
            ul.inside_menu#menu2
              li
                a#side_sub(href='/galleries_movement') Movement
              li
                a#side_sub(href='/galleries_portrait') Portrait
          li
            a.list4#side_main(href='#contact_page') CONTACT
      #main.main_menu_hamberger
        span(onclick='openNav()')
          .ham
          .ham
          .ham
          .ham
          .ham
      ul.main_menu
        li
          a#menu_company(href='#about_page') ABOUT US
        li
          a#menu_client() CLIENT REFFERENCE
        li
          a#menu_gallery() GALLERIES
        li
          a#menu_contact(href='#contact_page') CONTACT
      ul.sub_menu.client
        li#sub_menu.workflow
          a(href='#workflow_page') Work Flow
        li
          a(href='#making_page') Making
        //li
          a(href='#qna_page') Q&A//
      ul.sub_menu.gallery
        li
          a(href='/galleries_movement') Movement
        li
          a(href='/galleries_portrait') Portrait
    .wrapper_gallery
      .contents.gallery
        #title
          #title
            span GALLERIES
        .m-p-g
          .m-p-g__thumbs(data-google-image-layout='', data-max-height='400')
            img.m-p-g__thumbs-img(src='../images/portraits/090327_1.jpg?image=940', data-full='../images/portraits/090327_1.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/090327_2.jpg?image=940', data-full='../images/portraits/090327_2.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/091122.jpg?image=940', data-full='../images/portraits/091122.jpg?image=940')

            img.m-p-g__thumbs-img(src='../images/portraits/091228.jpg?image=940', data-full='../images/portraits/091228.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/100123.jpg?image=940', data-full='../images/portraits/100123.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/100418.jpg?image=940', data-full='../images/portraits/100418.jpg?image=940')

            img.m-p-g__thumbs-img(src='../images/portraits/111129_1.jpg?image=940', data-full='../images/portraits/111129_1.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/111129_2.jpg?image=940', data-full='../images/portraits/111129_2.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/111130.jpg?image=940', data-full='../images/portraits/111130.jpg?image=940')

            img.m-p-g__thumbs-img(src='../images/portraits/120813.jpg?image=940', data-full='../images/portraits/120813.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/170514.jpg?image=940', data-full='../images/portraits/170514.jpg?image=940')
            img.m-p-g__thumbs-img(src='../images/portraits/090202.jpg?image=940', data-full='../images/portraits/090202.jpg?image=940')
          .m-p-g__fullscreen
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/material-photo-gallery.js')
  script.
    var elem = document.querySelector('.m-p-g');
    document.addEventListener('DOMContentLoaded', function() {
    var gallery = new MaterialPhotoGallery(elem);
    });
    $("#menu_company").click(function(){
      $(".sub_menu.company").show();
      $(".sub_menu.client").hide();
      $(".sub_menu.gallery").hide();
    });
    $("#menu_client").click(function(){
      $(".sub_menu.client").show();
      $(".sub_menu.company").hide();
      $(".sub_menu.gallery").hide();
    });
    $("#menu_gallery").click(function(){
      $(".sub_menu.gallery").show();
      $(".sub_menu.company").hide();
      $(".sub_menu.client").hide();
    });
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "#050505";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "#050505";
    }
