doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .wrapper_one
        img#logo(src="../images/Main_Logo2.png")
        ul.main_menu
          li COMPANY INTRO
          li CLIENT REFFERENCE
          li GALLERIES
          li CONTACTS US
      .wrapper_two
        .container
          .contents
            #title ABOUT US
            #quote “Movement is <br> the song of the body.”
            #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with iconic pictures of Vanda as well as inspiring photographs and images to set the tone. A book to treasure.
            #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
