doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .wrapper.bg_index
        a(href='/')
          img#logo(src='../images/Main_Logo2.png')
        ul.main_menu
          li
            a#menu_company() COMPANY INTRO
          li
            a#menu_client() CLIENT REFFERENCE
          li
            a#menu_gallery() GALLERIES
          li
            a#menu_contact(href='#contact_page') CONTACTS US
        ul.sub_menu.company
          li#sub_menu.about
            a(href='#about_page') About Us
          li#sub_menu.workstyle
            a(href='#workstyle_page') Work Style
        ul.sub_menu.client
          li#sub_menu.workflow
            a(href='#workflow_page') Work Flow
          li
            a(href='#making_page') Making
          li
            a(href='#qna_page') Q&A
        ul.sub_menu.gallery
          li
            a(href='http://localhost:3000/galleries_movement') Movement
          li
            a(href='http://localhost:3000/galleries_emotion') Emotion
          li
            a(href='http://localhost:3000/galleries_color') Color
          li
            a(href='http://localhost:3000/galleries_extream') Extream
          li
            a(href='http://localhost:3000/galleries_portrait') Potrait
      .wrapper.bg_about#about_page
        .container
          .contents.about
            #title ABOUT US
            .about_box
              .crew_boxes
                ul
                  li.crew_box
                    img(src='../images/main_img/riverin_bg.png')
                    a(href='#') Photography
                  li.crew_box
                    img(src='../images/main_img/crew_jsy.jpg')
                    a(href='#') Design
                  li.crew_box
                    img(src='../images/main_img/crew_codestates.png')
                    a(href='#') Development
                  li.crew_box
                    img(src='../images/main_img/crew_berele.png')
                    a(href='#') Marketing
                  li.crew_box
                    img(src='../images/main_img/crew_niihwa.jpg')
                    a(href='#') Music
                  li.crew_box
                    img(src='../images/main_img/crew_vakbum.jpg')
                    a(href='#') Video
              .txt_box
                #title_inside_about CREW
                #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
                #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
      .wrapper.bg_empty_3#workflow_page
        .container
          .contents.workflow
            #title
              span WORK FLOW
            .step1
              #img_box
                span.step_txt Step1
                span.photo_txt photo
              #quote “Movement is <br> the song of the body.”
              #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
            .step2
              #quote “Movement is <br> the song of the body.”
              #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              #img_box
                span.step_txt Step2
                span.photo_txt photo
            .step1
              #img_box
                span.step_txt Step1
                span.photo_txt photo
              #quote “Movement is <br> the song of the body.”
              #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
            .step2
              #quote “Movement is <br> the song of the body.”
              #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              #img_box
                span.step_txt Step2
                span.photo_txt photo
      .wrapper.bg_empty_3_2
      .wrapper.bg_empty_4#making_page
        .container
          .contents.making
            #title
              span MAKING
            .making_even
              #img_box
                span#youtube Youtube
              #quote Pliates<br>Jeff Studio
              #discription Date: 2018. 2. 14
              #discription Location: Seoul
              #discription Type: Movement
              .sns_boxes
                img.sns_box.instagram(src='../images/instagram_ico_empty.png')
                img.sns_box.facebook(src='../images/facebook_ico_empty.png')
                img.sns_box.kakao(src='../images/kakao_ico_empty.png')
                img.sns_box.naver(src='../images/naver_ico_empty.png')
            .making_odd
              #quote Yoga<br>Ive Studio
              #discription Date: 2018. 2. 14
              #discription Location: Seoul
              #discription Type: Potrait
              .sns_boxes
                img.sns_box.instagram(src='../images/instagram_ico_empty.png')
                img.sns_box.facebook(src='../images/facebook_ico_empty.png')
                img.sns_box.kakao(src='../images/kakao_ico_empty.png')
                img.sns_box.naver(src='../images/naver_ico_empty.png')
              .img_box2#img_box
                span#youtube Youtube
            .making_even
              #img_box
                span#youtube Youtube
              #quote Rebok Crossfit<br>Gangam Gym
              #discription Date: 2018. 2. 14
              #discription Location: Seoul
              #discription Type: Potrait
              .sns_boxes
                img.sns_box.instagram(src='../images/instagram_ico_empty.png')
                img.sns_box.facebook(src='../images/facebook_ico_empty.png')
                img.sns_box.kakao(src='../images/kakao_ico_empty.png')
                img.sns_box.naver(src='../images/naver_ico_empty.png')
            .making_odd
              #quote Pilates<br>Ive Studio
              #discription Date: 2018. 2. 14
              #discription Location: Seoul
              #discription Type: Potrait
              .sns_boxes
                img.sns_box.instagram(src='../images/instagram_ico_empty.png')
                img.sns_box.facebook(src='../images/facebook_ico_empty.png')
                img.sns_box.kakao(src='../images/kakao_ico_empty.png')
                img.sns_box.naver(src='../images/naver_ico_empty.png')
              .img_box4#img_box
                span#youtube Youtube
      .wrapper.bg_empty_4_2
      .wrapper.bg_empty_5#workstyle_page
        .container
          .contents.workstyle
            #title WORK STYLE
            .workstyle_box
              .workstyle_img
                img(src='../images/main_img/ws2_8013.jpg')
                img(src='../images/main_img/mv3_2690.jpg')
                img(src='../images/main_img/wt_img.jpg')
              .txt_box
                .txt_box_1
                  #title_inside_workstyle PORTRAIT
                  #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with iconic pictures of Vanda as well as inspiring.
                .txt_box_2
                  #title_inside_workstyle MOVEMENT
                  #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with iconic pictures of Vanda as well as inspiring.
                .txt_box_3
                  #title_inside_workstyle SEAN
                  #discription A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with iconic pictures of Vanda as well as inspiring.
      .wrapper.bg_empty_6#qna_page
        .container
          .contents.qna
            #title
              span Q&A
            .qna_box
              .qna.q1
                span.qna_txt Q1
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              .qna.q2
                span.qna_txt Q2
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              .qna.q3
                span.qna_txt Q3
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              .qna.q4
                span.qna_txt Q4
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              .qna.q5
                span.qna_txt Q5
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with
              .qna.q6
                span.qna_txt Q6
                #quote “Movement is the song of the body.”
                #discription
                  span A long awaited reprint of this classical work revised by Vanda’s daughter and based on extensive notes left by the author allowing the book to be published for the first time as Vanda intended. Even if you have the first edition, it’s still worth investing in this one to see how Vanda’s ideas subtly changed. Superbly illustrated with

      .wrapper.bg_empty_6_2
      .wrapper.bg_empty_7#contact_page
        .container
          .contents.contact
            .contact_box
              #title CONTACT US

              .contact_photo_box
                img.contact(src='../images/main_img/aboutme.jpg')
                #nickname Riverin
                ul
                  li +82 10-5818-3320
                  li 99816636k@gmail.com
                  li 343, Samil-daero, Jung-gu
                  li Seoul, 04538, Rep.of KOREA
                .sns_boxes
                  img.sns_box.instagram(src='../images/instagram_ico_empty.png')
                  img.sns_box.facebook(src='../images/facebook_ico_empty.png')
                  img.sns_box.kakao(src='../images/kakao_ico_empty.png')
                  img.sns_box.naver(src='../images/naver_ico_empty.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script.
      $(document).ready(function() {
        $('#menu_company').click(function(){
          $('.sub_menu.company').show();
          $('.sub_menu.client').hide();
          $('.sub_menu.gallery').hide();
          $(this).css('color', '#2B023A')
          $('#menu_client').css('color', '#4A4A4A');
          $('#menu_gallery').css('color', '#4A4A4A');
          $('#menu_contact').css('color', '#4A4A4A');
        });
        $('#menu_client').click(function(){
          $('.sub_menu.client').show();
          $('.sub_menu.company').hide();
          $('.sub_menu.gallery').hide();
          $(this).css('color', '#2B023A')
          $('#menu_company').css('color', '#4A4A4A');
          $('#menu_gallery').css('color', '#4A4A4A');
          $('#menu_contact').css('color', '#4A4A4A');
        });
        $('#menu_gallery').click(function(){
          $('.sub_menu.gallery').show();
          $('.sub_menu.company').hide();
          $('.sub_menu.client').hide();
          $(this).css('color', '#2B023A')
          $('#menu_company').css('color', '#4A4A4A');
          $('#menu_client').css('color', '#4A4A4A');
          $('#menu_contact').css('color', '#4A4A4A');
        });
        $('#menu_contact').click(function(){
          $('.sub_menu.company').hide();
          $('.sub_menu.client').hide();
          $('.sub_menu.gallery').hide();
          $(this).css('color', '#2B023A')
          $('#menu_company').css('color', '#4A4A4A');
          $('#menu_client').css('color', '#4A4A4A');
          $('#menu_gallery').css('color', '#4A4A4A');
        });
        $("#sub_menu").each(function () {
          $(this).click(function () {
            console.log('click test');
          });
        });
      });
