doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .wrapper_one
        img#logo(src="../images/Main_Logo2.png")
        ul.main_menu
          li COMPANY INTRO
          li CLIENT REFFERENCE
          li GALLERIES
          li CONTACTS US
        block content
