      .wrapper.bg_index
  a(href='/')
    img#logo(src='../images/icons/main_logo.png')
  ul.main_menu
    li
      a#menu_company() COMPANY INTRO
    li
      a#menu_client() CLIENT REFFERENCE
    li
      a#menu_gallery() GALLERIES
    li
      a#menu_contact(href='#contact_page') CONTACTS US
  ul.sub_menu.company
    li#sub_menu.about
      a(href='#about_page') About Us
    li#sub_menu.workstyle
      a(href='#workstyle_page') Work Style
  ul.sub_menu.client
    li#sub_menu.workflow
      a(href='#workflow_page') Work Flow
    li
      a(href='#making_page') Making
    li
      a(href='#qna_page') Q&A
  ul.sub_menu.gallery
    li
      a(href='/galleries_movement') Movement
    li
      a(href='/galleries_emotion') Emotion
    li
      a(href='/galleries_color') Color
    li
      a(href='/galleries_extream') Extream
    li
      a(href='/galleries_portrait') Portrait
      block main_menu
