
/* Google Fonts Preset
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Cormorant+Garamond:400,400i');

body {
  background-color: #050505;
}

a:link { color: #4A4A4A; text-decoration: none;}
a:visited { color: #4A4A4A; text-decoration: none;}
a:hover { color: #2B023A; text-decoration: none;}
#main_menu_selected {
  color: #2B023A;
}
#sub_menu_selected {
  color: #F2F2F2;
}
.main {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/page_bg_empty.jpg");
  background-size: cover;
}
.wrapper.bg_index {
  background-image: url("../images/main_img/mv1_2714.jpg");
  background-size: 200%;
  background-position: 83% 35%;
  top: 0;
  z-index: 1;
}
.wrapper.bg_about {
  background-image: url("../images/main_img/about_img2.jpg");
  top: 100%;
}
.wrapper.bg_empty_3 {
  top: 200%;
}
.wrapper.bg_empty_3_2 {
  top: 300%;
}
.wrapper.bg_empty_4 {
  top: 400%;
}
.wrapper.bg_empty_4_2 {
  top: 500%;
}
.wrapper.bg_empty_5 {
  top: 600%;
}
.wrapper.bg_empty_6 {
  top: 700%;
}
.wrapper.bg_empty_6_2 {
  top: 800%;
}
.wrapper.bg_empty_7 {
  top: 900%;
}
.wrapper.bg_empty_8 {
  top: 0;
}
#logo {
  position: fixed;
  top: 5%;
  right: 0;
  width: 180px;
  margin-right: 40px;
  z-index: 4;
}

ul {
  list-style-type: none;
}

.main_menu,
.sub_menu {
  position: fixed;
  text-align: right;
  right: 0;
  margin-top: 150px;
  margin-right: 40px;
  z-index: 4;
}

.main_menu li,
.sub_menu li {
  padding-top: 10px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  color: #4A4A4A;
  font-size: 2.6rem;
  cursor: pointer;
}
.sub_menu {
  top: 20%;
  display: none;
}
.sub_menu li {
  font-size: 2rem;
}

.main_menu li:hover {
  color: #2B023A;
}
.sub_menu a:hover {
  color: #F2F2F2;
}

.container {
  width: 100%;
  color: #A09FA0;
}
.contents {
  position: absolute;
  top: 35%;
  left: 40%;
}
#title {
  margin: 10px 0;
  font-size: 4.5rem;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #4A4A4A;
}
#quote {
  /* margin: 0 20px 0; */
  padding-top: 20px;
  font-size: 3rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
}
#discription {
  margin: 20px 0;
  width: 400px;
  font-size: 2rem;
  font-weight: 100;
}

.contents.workflow,
.contents.making,
.contents.qna,
.contents.gallery {
  top: 7%;
  left: 10%;
  z-index: 1;
}

.contents.workflow #title,
.contents.making #title,
.contents.qna #title,
.contents.gallery #title {
  margin: 0;
  width: 800px;
  height: 60px;
  border-left: 7px solid #A09FA0;
  border-bottom: 7px solid #A09FA0;
}
.contents.gallery #title {
  width: 860px;
}

.contents.workflow #title span,
.contents.making #title span,
.contents.qna #title span,
.contents.gallery #title span {
  position: absolute;
  top: -7px;
  padding-left: 20px;

}
.contents.gallery #title span {
  top: -4px;
}
#color_title,
#movement_title,
#emotion_title,
#extream_title {
  position: relative;
  left: 10%;
}

#emotion_title,
#extream_title {
  left: 11%;
}
#movement_title {
  left: 12%;
}

.contents.workflow .step1,
.contents.making .making_even {
  width: 800px;
  height: 350px;
  border-right: 7px solid #A09FA0;
  border-bottom: 7px solid #A09FA0;
}
.contents.workflow .step2,
.contents.making .making_odd {
  display: inline-block;
  width: 800px;
  height: 350px;
  border-left: 7px solid #A09FA0;
  border-bottom: 7px solid #A09FA0;
}
span.step_txt,
span.qna_txt {
  position: absolute;
  font-size: 2.5rem;
  margin: 10px;
}
span.qna_txt {
  padding-top: 15px;
  margin-left: 0;
}
.contents.making #youtube,
span.photo_txt {
  width: 560px;
  height: 318px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.step1 #img_box  {
  margin-top: 24px;
  border: 1px solid #979797;
  position: absolute;
  width: 300px;
  height: 300px;
}
.step1 #quote,
.step1 #discription,
.making_even #quote,
.making_even #discription {
  position: relative;
  width: 400px;
  left: 45%;
}
.step2 #quote,
.step2 #discription {
  position: relative;
  width: 400px;
  left: 6%;
  text-align: right;
}
.step2 #img_box {
  margin-top: 20px;
  border: 1px solid #979797;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 3.8%;
  right: 0;
}
.making #img_box {
  margin-top: 14px;
  border: 1px solid #979797;
  position: absolute;
  width: 560px;
  height: 318px;
}
.making_odd #img_box {
  position: relative;
  float: right;
  bottom: 195px;
}

.making #quote {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}
.making #discription {
  margin: 10px 0;
}

.making_even #quote,
.making_even #discription,
.making_even .sns_boxes {
  padding-left: 20px;
  right: 0%;
  text-align: right;
}
.making_odd #quote,
.making_odd #discription {
  padding-left: 20px;
  text-align: left;
}

.sns_boxes {
  display: inline-block;
  width: 200px;
  float: right;
  padding-top: 100px;
  padding-right: 20px;
}
.contact_box .sns_boxes {
  position: absolute;
  top: 52%;
  left: 104%;
}
.making .sns_box,
.contact .sns_box {
  width: 30px;
  padding-left: 5px;
}
.making_even .sns_boxes {
  padding-right: 20px;
}
.making_odd .sns_boxes {
  position: absolute;
  text-align: left;
  padding-left: 20px;
}
.contents.workstyle {
  display: grid;
  position: absolute;
  top: 10%;
  left: 10%;
  grid-template-columns: 750px 450px;
}
.worktypes {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2.5fr;
}
.worktypes hr.top {
  position: absolute;
  top: -10px;
  left: 125px;
  width: 125px;
  border: 3.5px solid #979797;
}
.worktypes hr.bottom {
  position: absolute;
  bottom: -10px;
  left: 250px;
  width: 125px;
  border: 3.5px solid #979797;
}

.worktype_h {
  width: 250px;
  border-right: 7px solid #979797;
}
.worktype_w {
  width: 500px;
}
#worktype1,
#worktype2 {
  border-bottom: 7px solid #979797;
}
.worktypes_box {
  position: absolute;
  right: 0%;
  bottom: 0;
}
.worktypes_box ul {
  padding: 0;
}
.worktypes_box ul li {
  display: inline-block;
}
.worktypes_box #discription {
  margin-bottom: 0;
}
#logo_movement {
  position: relative;
  top: 1px;
  width: 65px;
  margin-right: 15px;
}

span.qna.qna_txt {
  padding: 0;
}
.qna #quote {
  padding-left: 45px;
}
.qna #img_box {
  margin-top: 20px;
  border: 1px solid #979797;
  position: absolute;
  width: 100%;
  height: 100%;
}
.qna #discription {
  padding-left: 20px;
}
.qna.q2,
.qna.q3,
.qna.q4,
.qna.q5,
.qna.q6,
.qna.q7 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.qna.q2 {
  top: 250%;
}
.qna.q3 {
  top: 440%;
}
.qna.q4 {
  top: 630%;
}
.qna.q5 {
  top: 820%;
}
.qna.q6 {
  top: 1010%;
}
.qna.q7 {
  top: 1200%;
}
.qna.q2 #img_box {
  margin-top: 20px;
  border: 1px solid #979797;
  position: absolute;
  width: 100%;
  height: 100%;
}
.qna #discription {
  width: 750px;
  height: 100%;
}
.contents.contact {
  position: absolute;
  top: 20%;
  left: 30%;
}
.contact_empty_box1,
.contact_empty_box2 {
  border: 3.5px solid #979797;
  position: absolute;
  left: 0;
  height: 80px;
  z-index: 1;
}
.contact_empty_box2 {
  top: 650%;
}
.contact_box #title {
  width: 140%;
}
.contact_box #nickname {
  position: absolute;
  top: 270%;
  left: -8px;
  font-size: 10rem;
  opacity: 0.5;
  z-index: 1
}
.contact_box #discription {
  font-size: 3rem;
}
.contact_box ul {
  position: absolute;
  font-size: 1.8rem;
  width: 100%;
  top: 79.5%;
  left: 95%;
}
.contact_photo_box img.contact {
  width: 400px;
  border-top: 7px solid #979797;
  border-right: 7px solid #979797;
}
.contact_photo_box {
  position: absolute;
}

.m-p-g {
  display: inline-block;
  border-right: 7px solid #949494;
}
.m-p-g img {
  border-bottom: 1px solid #979797;
}

#logo_gallery {
  position: absolute;
  margin-left: 15px;
}
